<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CategoryDao">
    <resultMap type="Category" id="myCategory">
    <id column="id" property="id"/>
    <result column="cate_name" property="cateName"/>
    <result column="count" property="count"/>
    <result column="parent_id" property="parentId"/>
    <result column="levels" property="levels"/>
    <association property="category" javaType="Category">
        <id column="id1" property="id"/>
        <result column="cate_name1" property="cateName"/>
        <result column="count1" property="count"/>
        <result column="parent_id1" property="parentId"/>
        <result column="levels1" property="levels"/>
    </association>
</resultMap>

    <resultMap type="Category" id="myCategory1">
        <id column="id" property="id"/>
        <result column="cate_name" property="cateName"/>
        <result column="count" property="count"/>
        <result column="parent_id" property="parentId"/>
        <result column="levels" property="levels"/>
        <collection property="categoryList" ofType="Category">
            <id column="id1" property="id"/>
            <result column="cateName" property="cateName"/>
            <result column="count1" property="count"/>
            <result column="parentId" property="parentId"/>
            <result column="levels1" property="levels"/>
        </collection>
    </resultMap>
    <select id="queryByCategory" resultMap="myCategory">
        select a.id,a.CATE_NAME,a.COUNT,a.PARENT_ID,a.LEVELS,b.CATE_NAME as cate_name1 from d_category a left join d_category b
        on a.parent_id = b.id
    </select>

    <select id="queryAllLevel" resultType="Category" parameterType="String">
        select id,cate_name cateName,count,parent_id parentId ,levels from d_category where levels = #{level}
    </select>

    <select id="queryByCount" resultType="Integer" parameterType="String">
        select count(*) from d_category
        where parent_id = #{id}
    </select>

    <select id="queryOneHaveTwoCategory" resultMap="myCategory1" >
        select a.id,a.CATE_NAME,a.COUNT,a.PARENT_ID,a.LEVELS,b.cate_name cateName, b.id id1, b.count count1,
		b.parent_id parentId,b.levels levels1 from d_category a left join d_category b
        on a.id = b.parent_id where a.levels = 1
    </select>

    <select id="queryOneTwoCategory" resultMap="myCategory1" parameterType="String">
		select c1.id,c1.cate_name cate_name,c1.count,c1.parent_id parent_id,c1.levels,
		c2.cate_name cateName, c2.id id1, c2.count count1,
		c2.parent_id parentId,c2.levels level1
		from d_category c1
		left join d_category c2
		on c1.id = c2.parent_id
		where c1.levels = 1 and c1.id = #{fid}
	</select>
</mapper>
